{% extends 'base.html.twig' %}

{% block title %}Joke index{% endblock %}

{% block body %}

<section id="home">
    <h1 id="home-title">SEI</h1>
        {% for joke in jokes %}
        <div id="quotes">
            <ul>
                <li>
                    {{ joke.quote }}
                    <div class="bottom">
                        <button>Like</button>
                        <button>Dislike</button>
                        <h3 class="author">{{ joke.firstname }} {{ joke.lastname }}</h3>
                    </div>
                </li>
            </ul>
        </div>
{#            <tr>#}
{#                <td>{{ joke.id }}</td>#}
{#                <td>{{ joke.firstname }}</td>#}
{#                <td>{{ joke.lastname }}</td>#}
{#                <td>{{ joke.funny }}</td>#}
{#                <td>{{ joke.lousy }}</td>#}
{#            </tr>#}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
    <button id="create-button"><a href="{{ path('joke_new') }}">Je veux creer une citation pas trop longue ........</a></button>
</section>


{% endblock %}
