{% extends 'base.html.twig' %}

{% block title %}Joke index{% endblock %}

{% block body %}

<section id="home">
    <img src="build/images/sylvain.d7dacd75.png" id="sylvain" width="48"/>
    <img src="build/images/ayoub.1a928e84.png" id="ayoub" width="48"/>
    <a href="{{ path('joke_new') }}"><button id="create-button">Je veux creer une citation pas trop longue ........</button></a>
    <h1 id="home-title">SEI</h1>
    <a href="{{ path('joke_index') }}"><img class="logoWild" src="{{ asset('build/images/wild.c3e2105d.png') }}"></a>
        {% for joke in jokes %}
        <div id="quotes">
            <ul>
                <li>
                    {{ joke.quote }}
                    <div class="bottom">
                        <h3 class="author">{{ joke.category.name }}</h3>
                    </div>
                    <div class="bottom">
                        <a class="faIcon" href="{{ path('joke_incrementsFunny', {'id': joke.id}) }}">
                            <i class="far fa-thumbs-up fa-2x"></i></a>
                        <h4 class="like">{{ joke.funny }} </h4>
                        <a class="faIcon" href="{{ path('joke_incrementsLousy', {'id': joke.id}) }}">
                            <i class="far fa-thumbs-down fa-2x"></i></a>
                        <h4 class="dislike">{{ joke.lousy }}</h4>
                        <h3 class="author name">Postée par {{ joke.firstname }} {{ joke.lastname }}</h3>
                    </div>
                </li>
            </ul>
        </div>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}

</section>
<ul class="nav">
    {% for category in categories %}
        <li class="filter"><a class="filterLink" href="{{ path('joke_index', {'filter': category.id}) }}">{{ category.name }}</a></li>
    {% endfor %}
    <li class="filter"><a class="filterLink" href="/">Toutes les blagues</a></li>
</ul>

{% endblock %}
