{% extends 'base.html.twig' %}

{% block title %}Joke index{% endblock %}

{% block body %}

<section id="home">
    <h1 id="home-title">SEI</h1>
        {% for joke in jokes %}
        <div id="quotes">
            <ul>
                <li>
                    {{ joke.quote }}
                    <div class="bottom">
                        <h4 class="like">{{ joke.funny }} </h4>
                        <h4 class="dislike">{{ joke.lousy }}</h4>
                        <h3 class="author">{{ joke.category.name }}</h3>
                    </div>
                    <div class="bottom">
                        <a href="{{ path('joke_incrementsFunny', {'id': joke.id}) }}">Drôle</a>
                        <a href="{{ path('joke_incrementsLousy', {'id': joke.id}) }}">Nulle</a>
                        <h3 class="author">{{ joke.firstname }} {{ joke.lastname }}</h3>
                    </div>
                </li>
            </ul>
        </div>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
    <button id="create-button"><a href="{{ path('joke_new') }}">Je veux creer une citation pas trop longue ........</a></button>
</section>


{% endblock %}
